<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Vølven - The Portfolio for you and me.</title>
        <link href="@Url.Content("~/Images/logomain.png")" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/LayoutStyle.css" rel="stylesheet" />
    </head>
    <body>
        <div id="bgLogo"></div>
        <video id="bgVideo" autoplay loop>
            <!-- Video is embedded in the mp4 format -->
            <source src="/Content/vid.mp4" type="video/mp4">
        </video>
        <header>
            <div class="content-wrapper">
                <div class="logo-div">
                    <a href="@Url.Action("Index", "Home")" class="alogo">
                        <img src="~/Images/logomain.png" class="imglogo" />
                    </a>
                        <img src="~/Images/Voelven.png" class="imglogotext" />
                </div>
                <div class="float-right">
                    <section id="login">
                        
                            @if (Session["isLoggedIn"] == null)
                            {
                                @Html.ActionLink("Log In", "Login", "Home")
                                @Html.ActionLink("Register", "CreateUser", "Home")
                            }
                            @if (Session["isLoggedIn"] != null)
                            {
                                @Html.ActionLink(((PortfolioMVC.tbluser)Session["isLoggedIn"]).userName, "PortfolioEdit", "Home")
                                @Html.ActionLink("Log Out", "Logout", "Home")
                            }
                        
                        @*@Html.Partial("_LoginPartial")*@
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="@Url.Content("~/Scripts/VideoBgScript.js")"></script>
    </body>
</html>
