@model PortfolioMVC.tbluser
@{
    ViewBag.Title = "PortfolioEdit";
    ViewBag.DefaultImg = "/Images/DefUser.png";
    ViewBag.ErrorImg = "/Images/error.png";
}

<link href="@Url.Content("~/Content/portfolioEdit.css")" rel="stylesheet" type="text/css" />
<div class="middleWidth">
    <p class="error">@ViewBag.error</p>
    <h2>@(Model.userFullName)'s Portfolie Editing</h2>

    @using (Html.BeginForm("userpost", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <img id="pic" onerror="this.src=@(ViewBag.DefaultImg)" src="@if (Model.userPicture != null){ @(Model.userPicture)  } else {  @(ViewBag.DefaultImg)  } " />
        <p id="test_data"></p>
        @*<input type="hidden" name="pic" id="pic_hidden"/>*@
    <input type="text" name="fullname" pattern="^(([a-zA-Z]|\p{L})+\s)*([a-zA-Z]|\p{L})+$" placeholder="Enter your fullname" required title="Kun tekst og mellemrum er tilladt." value="@(Model.userFullName)" />
        <input type="text" name="description" value="@(Model.userDescription)" />
        <input type="text" name="address" value="@(Model.userAddress)" />
        <input id="uploader" name="pic" type="file" placeholder="A picture of you" accept="image/*" onchange="onFileSelected(event);" />

        <input type="submit" value="Ændre" />
    }
    <h1>Educations</h1>
    <ul class="educations">
        @foreach (var edu in Model.tblportfolio.tbleducations)
        {
            <li>
                <h2 class="subject">@edu.eduName</h2>
                @using (Html.BeginForm("educationRemove", "home", FormMethod.Post))
                {
                <input type="hidden" name="id" value="@edu.ID" />
                <input class="delete" type="submit" title="Delete" value="">
                }
                <p class="dato">Påstartet: @edu.eduStart</p>
                <p class="dato">Afsluttet: @edu.eduFinish</p>
                <p class="schoolName">Skolenavn: @edu.eduSchool</p>
                <div class="edu map" data-location="@edu.eduAddress"></div>
            </li>
        }
    </ul>
    @using (Html.BeginForm("educationAdd", "home", FormMethod.Post))
    {
        <h3>Add an education</h3>
        <input name="subject" type="text" required placeholder="Name of subject of study" />
        <input name="school" type="text" required placeholder="School name" />
        <input name="address" type="text" required placeholder="School Address" />
        <p>From:</p> <input name="from" required type="date" />
        <p>To:</p> <input name="to" required type="date" />
        <input type="submit" value="Add" />
    }
    <h1>Jobs</h1>
    <ul class="jobs">
        @foreach (var job in Model.tblportfolio.tblworks)
        {
            <li>
                <h2>@job.workName</h2>
                @using (Html.BeginForm("jobRemove", "home", FormMethod.Post))
                {
                <input type="hidden" name="id" value="@job.ID" />
                <input class="delete" type="submit" title="Delete" value="">
                }
                <p class="dato">Påstartet: @job.workStart</p>
                <p class="dato">Afsluttet: @job.workFinish</p>
                <p class="jobTitle">Title: @job.workTitle</p>
                <p class="referance">Refferance: @job.workReferenceName tlf:@job.workReferenceNumber</p>
                <div class="work map" data-location="@job.workAddress"></div>
            </li>
        }
    </ul>
    @using (Html.BeginForm("jobAdd", "home", FormMethod.Post))
    {
        <h3>Add a Job</h3>
        <input type="text" name="jobname" required placeholder="Name of field or title of job/work" />
        <input type="text" name="companyname" required placeholder="Workplace name" />
        <input type="text" name="companyaddress" required placeholder="Workplace address" />
        <input type="text" name="refferanceName" required placeholder="Work Refferance Name" />
        <input type="text" name="refferanceNumber" required placeholder="Work Refferance Number" />
        <p>From:</p> <input name="from" required type="date" />
        <p>To:</p> <input name="to" required type="date" />
        <input type="submit" value="Add" />
    }
    <h1>Portfolio</h1>
    @using (Html.BeginForm("portfolioDescription", "home", FormMethod.Post)){
    <textarea name="description" rows="4" cols="50">@Model.tblportfolio.portDescription</textarea>
    <input type="submit" name="name" value="Change" />
    }
    <br />
</div>
<script src="@Url.Content("~/Scripts/portfolioEditScript.js")"></script>
