@model PortfolioMVC.tbluser
@{
    ViewBag.Title = "PortfolioEdit";
    ViewBag.DefaultImg = "/Images/DefUser.png";
    ViewBag.ErrorImg = "/Images/error.png";
}
<script>
    function uploadPreview() {
        var imgprev = $('#pic');
        var upload = $('#uploader')[0];
        var reader = new FileReader();

        reader.onload = function () {
            imgprev.src = reader.result;
        }

        if (upload)
            reader.readAsDataURL(upload);
        else
            imgprev.src = "";
    }

    uploadPreview();
</script>
<style>
    #pic {
        width: 250px;
        float: right;
    }

    .middleWidth {
        max-width: 888px;
    }
</style>
<div class="middleWidth">
    <h2>@(((PortfolioMVC.tbluser)Session["isLoggedIn"]).userFullName)'s Portfolie Editing</h2>

    @using (Html.BeginForm("userpost", "home", FormMethod.Post))
    {
        <img id="pic" onerror="this.src=@(ViewBag.DefaultImg)" src="@if (((PortfolioMVC.tbluser)Session["isLoggedIn"]).userPicture != null) { @(((PortfolioMVC.tbluser)Session["isLoggedIn"]).userPicture)  } else {  @(ViewBag.DefaultImg)  } " />
        <input type="text" name="fullname" value="@(((PortfolioMVC.tbluser)Session["isLoggedIn"]).userFullName)" />
        <input type="text" name="description" value="@(((PortfolioMVC.tbluser)Session["isLoggedIn"]).userDescription)" />
        <input type="text" name="address" value="@(((PortfolioMVC.tbluser)Session["isLoggedIn"]).userAddress)" />
        <input id="uploader" type="file" placeholder="A picture of you" accept="image/*" onchange="onFileSelected(event);" />

        <input type="submit" value="Ændre" />
    }
    <h1>Educations</h1>
    <ul class="educations">
        @foreach (var edu in Model.tblportfolio.tbleducations)
        {
            <li>
                <h2 class="subject">Linje: @edu.eduName</h2>
                @Html.BeginForm("educationRemove", "home", FormMethod.Post)
                {
                <input type="hidden" name="id" value="@edu.ID" />
                <button type="submit"><img src="@ViewBag.ErrorImg" alt="Delete" /></button>
                }
                <p class="dato">Påstartet: @edu.eduStart</p>
                <p class="dato">Afsluttet: @edu.eduFinish</p>
                <p class="schoolName">Skolenavn: @edu.eduSchool</p>
                <div class="edu map" data-location="@edu.eduAddress"></div>
            </li>
        }
    </ul>
    @using (Html.BeginForm("educationAdd", "home", FormMethod.Post))
    {
        <h3>Add an education</h3>
        <input name="subject" type="text" placeholder="Name of subject of study" />
        <input name="school" type="text" placeholder="School name" />
        <input name="address" type="text" placeholder="School Address" />
        <p>From:</p> <input name="from" type="date" />
        <p>To:</p> <input name="to" type="date" />
        <input type="submit" value="Add" />
    }
    <h1>Jobs</h1>
    <ul class="jobs">
        @foreach (var job in Model.tblportfolio.tblworks)
        {
            <li>
                <h2>@job.workName</h2>
                @Html.BeginForm("jobRemove", "home", FormMethod.Post)
                {
                <input type="hidden" name="id" value="@job.ID" />
                <button type="submit"><img src="@ViewBag.ErrorImg" alt="Delete" /></button>
                }
                <p class="dato">Påstartet: @job.workStart</p>
                <p class="dato">Afsluttet: @job.workFinish</p>
                <p class="jobTitle">Title: @job.workTitle</p>
                <p class="referance">Refferance: @job.workReferenceName tlf:@job.workReferenceNumber</p>
                <div class="work map" data-location="@job.workAddress"></div>
            </li>
        }
    </ul>
    @using (Html.BeginForm("jobAdd", "home", FormMethod.Post))
    {
        <h3>Add a Job</h3>
        <input type="text" name="" placeholder="Name of field or title of job/work" />
        <input type="text" name="" placeholder="Workplace name" />
        <input type="text" name="" placeholder="Workplace address" />
        <input type="text" name="" placeholder="Work Refferance Name" />
        <input type="text" name="" placeholder="Work Refferance Number" />
        <p>From:</p> <input name="from" type="date" />
        <p>To:</p> <input name="to" type="date" />
        <input type="submit" value="Add" />
    }
    <h1>Portfolio</h1>
    @Html.BeginForm("portfolioDescription", "home", FormMethod.Post){
    <textarea name="description" rows="4" cols="50">@Model.tblportfolio.portDescription</textarea>
    <input type="submit" name="name" value=" " />
    }









    @*<form method="post" onsubmit="">

         <div class="userInfo">
             <img id="image" src="@Model.userPicture" alt="Img Not found" style="max-height:200px;" /><br />
             <input type="file" onchange="uploadPreview()" name="fileuploader" />
             <br />

             <input name="fullname" type="text" value="@Model.userFullName" placeholder="Enter full name here" />

             <br />

             <textarea name="decription" placeholder="Enter description of you">@Model.userDescription</textarea>
               <textarea name="portfoliodescription" placeholder="Description about your portfolio">@Model.tblportfolio.portDescription</textarea>
        <input name="address" type="text" value="@Model.userAddress" placeholder="Enter your address" />

         </div>
             <input type="submit" value="Save Edit" />
         </form>
         @if (Model.tblportfolio != null)
         {
             <form method="post" onsubmit="">
             <div class="uddannelser">
                 <h3>Educations</h3>
                 <ul>
                     @if (Model.tblportfolio.tbleducations.Count == 0)
                     {
                         <li>
                             <input name="eduname" type="text" placeholder="Education name" />
                             <input name="schoolname" type="text" placeholder="School Name" />
                         </li>
                         <li>
                             <p>Start date</p>
                             <input name="edustartdate" type="datetime" />
                             <p>End date</p>
                             <input name="edufinishdate" type="datetime" />
                         </li>
                         <li>
                             <input name="eduaddress" type="text" placeholder="Education address" />
                         </li>
                     }
                     else
                     {
                         foreach (var edu in Model.tblportfolio.tbleducations)
                         {
                         <li>
                             <input type="text" placeholder="Education name" value="@edu.eduName" />
                             <input type="text" placeholder="School Name" value="@edu.eduSchool" />
                         </li>
                         <li>
                             <p>Start date</p>
                             <input type="datetime" value="@edu.eduStart" />
                             <p>End date</p>
                             <input type="datetime" value="@edu.eduFinish" />
                         </li>
                         <li>
                             <input type="text" placeholder="Education address" value="@edu.eduAddress"/>
                         </li>
                         }
                     }

                 </ul>
             </div>
                     <input type="submit" value="Save Edit" />
                 </form>
             <form method="post" onsubmit="">
             <div class="jobs">
                 <h3>Work places</h3>
                 <ul>
                     @if (Model.tblportfolio.tblworks.Count == 0)
                     {
                         <li>
                             <input name="workname" type="text" placeholder="Work name" />
                         </li>
                         <li>
                             <p>Start date</p>
                             <input name="workstartdate" type="datetime" />
                             <p>End date</p>
                             <input name="workfinishdate" type="datetime" />
                         </li>
                         <li>
                             <input name="workaddress" type="text" placeholder="Work address" />
                         </li>
                         <li>
                             <input name="refernceperson" type="text" placeholder="Work reference person" />
                             <input name="referencenumber" type="text" placeholder="Work reference phone number" />
                         </li>
                     }
                     @foreach (var job in Model.tblportfolio.tblworks)
                     {
                         <li>
                             <h2>@job.workName</h2>
                             <p class="dato">Påstartet: @job.workStart</p>
                             <p class="dato">Afsluttet: @job.workFinish</p>
                             <p class="jobTitle">Title: @job.workTitle</p>
                             <p class="referance">Refferance: @job.workReferenceName tlf:@job.workReferenceNumber</p>
                             <div class="work map" data-location="@job.workAddress"></div>
                         </li>
                     }
                 </ul>
             </div>
                     <input type="submit" value="Save Edit" />
         </form>
             <br />


         }*@

    <br />
</div>



@*<div class="user map" data-location="@Model.userAddress"></div>*@
