@model PortfolioMVC.tbluser
@{
    ViewBag.Title = "Portfolie";
}
<style>
    .hide_me {
        position: relative;
        top: -205px;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        display: none;
        /* max-width: 250px; */
        /* display: -webkit-inline-box; */
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(247, 247, 247, 0.82);
        border-radius: 10px 10px;
    }
    .hover_on_me {
        width: 16px;
        height: 30px;
        position: relative;
        top: -150px;
        left: 227px;
    }
    .hover_on_me:hover ~ .hide_me{
        display: table;
        
    }
    .centered_content {
        width: 470px;
        max-height: 268px;
    }
</style>

<h2>@Model.userFullName's Portfolie</h2>
<div class="userInfo">
    <img src="@Model.userPicture" alt="Img Not found" onerror="src='//Images/DefUser.png'" />
    <p id="fullName">Fulde navn: @Model.userFullName</p>
    <p id="freetext">@Model.userDescription</p>
</div>
@if (Model.tblportfolio!= null) { 
<div class="uddannelser">
    <ul>
        @foreach (var edu in Model.tblportfolio.tbleducations) { 
        <li>
            <h2 class="subject">Linje: @edu.eduName</h2>
            <p class="dato">Påstartet: @edu.eduStart</p>
            <p class="dato">Afsluttet: @edu.eduFinish</p>
            <p class="schoolName">Skolenavn: @edu.eduSchool</p>
            <div class="edu map" data-location="@edu.eduAddress"></div>
        </li>
        }
    </ul>
</div>
<div class="jobs">
    <ul>
        @foreach (var job in Model.tblportfolio.tblworks) { 
        <li>
            <h2>@job.workName</h2>
            <p class="dato">Påstartet: @job.workStart</p>
            <p class="dato">Afsluttet: @job.workFinish</p>
            <p class="jobTitle">Title: @job.workTitle</p>
            <p class="referance">Refferance: @job.workReferenceName tlf:@job.workReferenceNumber</p>
            <div class="work map" data-location="@job.workAddress"></div>
        </li>
        }
    </ul>
</div>
<p id="portfolieDescription">Beskrivelse: @Model.tblportfolio.portDescription</p>
}
<div class="col-md-6 centered_content">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=@(Model.userAddress)&zoom=13&size=600x300&maptype=roadmap&markers=color:red%7C@(Model.userAddress)" alt="" width="470" />
    <div class="hover_on_me"></div>
    <div class="hide_me">@(Model.userAddress)</div>
    
</div>
@*<div class="user map" data-location="@Model.userAddress"></div>*@
